$paragraph_color: green;
body * {
  box-sizing: border-box;
}
.top {
  text-align: center;
  :hover {
    background-color: red;
    color: white;
  }
  p {
    line-height: 15px;
    color: $paragraph_color;
  }
}
.image {
  text-align: center;
  img {
    object-fit: cover;
    width: 400px;
    height: 400px;
  }
}
